<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="master/master :: header"></header>
	<div class="container">
		<hr style="background-color: #fdfdfd" />
		<div
			style="font-family: 'Roboto Condensed', sans-serif; font-size: 150%;">Cantidad
			de avisos de trabajos de acuerdo a su rubro</div>
		<hr style="background-color: #FA251B" />
		<div>
			<div class="table-responsive">
				<table class="table table-white">
					<thead>
						<tr>

							<th scope="col">ID Tipo trabajo</th>
							<th scope="col">Rubro</th>
							<th scope="col">Cantidad de avisos de trabajo</th>
						</tr>
					</thead>
					<tbody id="cantidadTipoTrabajo-list">
						<tr th:each="tra:${listaCantidadTipoTrabajo}">
							<td th:text="${tra[0]}"></td>
							<td th:text="${tra[1]}"></td>
							<td th:text="${tra[2]}"></td>


						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>