<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="master/master :: head">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<header th:replace="master/master :: header"></header>
	<div class="container">
		<div>
			<form th:action="@{/ppersons/save}" method="post" th:object="${p}">

				<div class="col-sm-12">
					<label class="form-label">DNI:</label> <input type="text"
						maxlength="8" th:field="*{dniPerson}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Nombres:</label> <input type="text"
						th:field="*{namePerson}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Apellidos:</label> <input type="text"
						th:field="*{lastNamePerson}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Correo:</label> <input type="email"
						pattern=".+@[a-zA-Z0-9.-]+[.]+(.+)" th:field="*{emailPerson}"
						class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Fecha de nacimiento:</label> <input
						type="date" th:field="*{birthDatePerson}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<label class="form-label">Telefono:</label> <input type="text" maxlength="9"
						th:field="*{phonePerson}" class="form-control"></input>
				</div>

				<div class="col-sm-12">
					<input type="submit" value="Registrar" class="btn btn-dark"></input>
				</div>

			</form>
		</div>
	</div>
</body>
</html>