<!DOCTYPE html>
<html xmlns:th="http://www.thymeleag.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>EASYCHAMBA</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<body>

	<div class="container">

		<div class="col-sm-6">
			<img th:src="@{/img/lookin.jpg}" height="100%" width="100%" />
		</div>
	</div>

</body>
</html>